// --- Index page articles list
.articles {
  &__article {
    margin: 10px 0;
  }

  &__tags {
    display: inline;
    padding: 0 10px;
  }

  &__tag {
    font-size: 13px;
    padding: 0 10px;
    border: 1px solid $text-color;
    margin: 0 5px;
    background-color: #5b575b;
  }
}

// --- Article
.article {
}
