$background-color: #232526;
$text-color: #b7b5b4;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background-color: $background-color;
  color: $text-color;
  font-family: system-ui;
  font-smooth: never;
  -webkit-font-smoothing: none;
}

a {
  text-decoration: none;

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $text-color;
  }

}
