// --- Navigation
nav {
  margin: 20px 0;
  text-align: center;

  a {
    display: inline-block;
    padding: 15px 20px;
    position: relative;
    text-transform: uppercase;

    &:after {
      background-color: #2C5364;
      bottom: 0;
      content: "";
      display: block;
      height: 1px;
      left: 50%;
      position: absolute;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }

    &:hover:after {
      width: 100%;
      left: 0;
    }

  }
}
